h1, button, ul, li, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  font-family: Grand Hotel;
  font-weight: bold;
  width: 600px;
}

.hidden {
  display: none;
}

#start, #end {
  height: 600px;
  width: 600px;
  background-color: #FFF0FB;
  text-align: center;
  color: #36454F;
}

#start h1, #end h1 {
  font-size: 80px;
  margin: 30px;
}

#start p, #end p {
  font-size: 36px;
}

#end p:first-of-type {
  padding-bottom: 10px;
}

#end p:last-of-type {
  padding-bottom: 25px;
}

#start p:first-of-type {
  padding-top: 30px;
  padding-bottom: 25px;
}

#start p:last-of-type {
  padding-top: 25px;
}

button {
  font-size: 30px;
  border: 2px solid #36454F;
  padding: 5px 25px 5px 25px;
  background-color: #FFF;
  cursor: pointer;
}

button:hover {
  background-color: #FFF0FB;
}

#main {
  height: 600px;
  width: 600px;
}

#footer {
  display: flex;
  justify-content: space-between;
  font-family: Nunito;
  font-size: 18px;
  color: #36454F;
}

.icons {
  display: flex;
}

.icons li {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 30px;
}
